{% extends 'base.html' %}
{% load static %}

{% block head %}
프로필
{% endblock %}
{% block content %}
<div>
    <table>
        <tr>
            <td>이름</td>
            <td>윤종원</td>
        </tr>
        <tr>
            <td>생일</td>
            <td>2000년 2월 20일</td>
        </tr>
        <tr>
            <td>나이</td>
            <td>21세</td>
        </tr>
        <tr>
            <td>사는 곳</td>
            <td>서울시 송파구 문정동</td>
        </tr>
        <tr>
            <td>전공</td>
            <td>전자전기공학(소프트웨어 학부 복수전공)</td>
        </tr>
        <tr>
            <td>취미</td>
            <td>책 읽기, 합주</td>
        </tr>
    </table>
    
</div>
{% endblock %}