{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
<div class="cardContainer">
    {% for post in posts.all %}
    <a href="{% url 'detail' post.id %}">
        <div class="myCard">
            <div class="myCardHeader">{{post.title}}</div>

            <div class="myCardBody">
                <div class="myCardText">{{post.summary}}</div>
            </div>
            <div class="myCardFootersContainer">
                <div class="pub">{{post.pub_date}}</div>
                <div class="myCardFooter">
                    <span class="myCardAuthorPre">by </span>
                    <div class="myCardAuthor">{{post.author}}</div>
                    <img class="myCardIcon" src="{% static 'icon/views.svg' %}" alt="">
                    <div class="myCardCounter">{{post.view_count}}</div>
                    <img class="myCardIcon" src="{% static 'icon/comments.svg' %}" alt="">
                    <div class="myCardCounter">{{post.comments.all.count}}</div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block script %}

{% endblock %}