{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
<div class="cardContainer">
    {% for post in posts.all %}
    <a>
        <div class="myCard">
            <div class="myCardHeader">{{post.title}}</div>

            <div class="myCardBody">
                <div class="myCardText">{{post.summary}}</div>
                <div class="pub">{{post.pub_date}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block script %}

{% endblock %}